- if @articles.length > 0 then
  .articles
    - @articles.each do |article|
      - if @slider then
        #slider
          %a#previous{:href => "/?page=#{prevMonth(article.id)}#article"}
            .slide
              %img{:src => "/images/months/#{prevMonth(article.id)}.jpg", :alt => "Forrige måned"}
              #previous_overlay    
          .slide#current
            %img{:src => "/images/months/#{article.id}.jpg", :alt => "Bilde for #{article.title}"}
          %a{:href => "/?page=#{nextMonth(article.id)}#article"}
            .slide#next
              %img{:src => "/images/months/#{nextMonth(article.id)}.jpg", :alt => "Neste måned"}
              #next_overlay
    
        %article#article
          =article.content
      - elsif @list then
        %li
          %a{:href => "/article/#{article.id}"}
            =article.title
      - elsif @full then
        %article  
          %h1= article.title
          =article.content
        
- else      
  %p Det finnes ingen artikler!
