- if @articles.length > 0 then
  - @articles.each do |article|
    - if !@forsiden then
      - @title = article.title
    - if @slider then
      #slider
        %a{:href => "/?page=#{prevMonth(article.id)}"}
          .slide#previous
            %img{:width => '250', :height => '250', :src => "/images/months/#{prevMonth(article.id)}.jpg", :alt => "Forrige m책ned"}
            #previous_overlay
            #prevlabel
              Forrige m책ned   
        .slide#current
          %img{:width => '250', :height => '250',:src => "/images/months/#{article.id}.jpg", :alt => "Bilde for #{article.title}"}
          #currentlabel
            =article.title
        %a{:href => "/?page=#{nextMonth(article.id)}"}
          .slide#next
            %img{:width => '250', :height => '250',:src => "/images/months/#{nextMonth(article.id)}.jpg", :alt => "Neste m책ned"}
            #next_overlay
            #nextlabel
              Neste m책ned
      .articles
        %article#article
          =article.content
    - elsif @list then
      %li
        %a{:href => "/article/#{article.id}"}
          =article.title
    - elsif @full then
      .articles
        %article  
          %h1= article.title
          =article.content
        
- else      
  %p Det finnes ingen artikler!
